{% macro tab(label='', path='') %}
<a
  href="{{ path }}"
  class="mobile-nav-bar__tab {% if request.path == path %}nav-bar__tab--active{% endif %}"
>
  {{ label }}
</a>
{% endmacro %}

<div class="mobile-nav-bar__tabs">
  {{ tab(label="Profile", path=url_for('webapp.profile')) }}
  {{ tab(label="Public", path=url_for('webapp.public')) }}
  {% if session.user %}
    {{ tab(label="Protected", path=url_for('webapp.protected')) }}
    {{ tab(label="Admin", path=url_for('webapp.admin')) }}
  {% endif %}
</div>