{% extends "base.html" %}
{% from "code_snippet.html" import code_snippet %}

{% block content %}
<div class="content-layout">
  <h1 id="page-title" class="content__title">Admin Page</h1>
  <div class="content__body">
    <p id="page-description">
      <span>This page retrieves a <strong>admin message</strong> from an external
      API.</span>
      <br />
      <br />
      Only authenticated users with the <code>read:admin-messages</code> permission should access this page.
    </p>
    {{ code_snippet(title="Admin Message", code=message) }}
  </div>
</div>
{% endblock %}