<div class="hero-banner hero-banner--yellow-mandarine">
  <div class="hero-banner__logo">
    <img class="hero-banner__image" src="https://cdn.auth0.com/blog/developer-hub/flask-logo.svg" alt="Flask logo" />
  </div>
  <h1 class="hero-banner__headline">Hello, Flask World!</h1>
  <p class="hero-banner__description">
  <span
    >This is a sample application that demonstrates the authentication flow for
    Flask web apps using <strong>Auth0</strong>.</span
  >
  </p>

  <a
    id="code-sample-link"
    href="https://auth0.com/developers/hub/code-samples/web-app/flask-python/basic-authentication"
    class="button button--secondary"
    target="_blank"
    rel="noopener noreferrer"
  >
    Check out the Flask code sample →
  </a>
</div>