<footer class="page-footer">
  <div class="page-footer-grid">
    <div class="page-footer-grid__info">
      <div class="page-footer-info__message">
        <p class="page-footer-message__headline">
          <span>This sample application is brought to you by&nbsp;</span>
          <a
            class="page-footer__hyperlink"
            target="_blank"
            rel="noopener noreferrer"
            href="https://auth0.com/">
            Auth0
          </a>
        </p
        >
        <p class="page-footer-message__description">
          <a
            class="page-footer__hyperlink"
            target="_blank"
            rel="noopener noreferrer"
            href="https://auth0.com/docs/quickstarts/">
            <span>
              Securely implement authentication using Auth0 on any stack and
              any device
            </span>
            <u>in less than 10 minutes</u>
          </a>
        </p>
      </div>
      <div class="page-footer-info__button">
        <a
          id="create-account-button"
          href="https://auth0.com/signup"
          class="button button--secondary"
          target="_blank"
          rel="noopener noreferrer"
        >
          Create Free Auth0 Account
        </a>
      </div>
      <div class="page-footer-info__resource-list">
        <div class="page-footer-info__resource-list-item">
          <a
            class="page-footer__hyperlink"
            target="_blank"
            rel="noopener noreferrer"
            href="https://auth0.com/why-auth0/"
          >
            Why Auth0
          </a>
        </div>
        <div class="page-footer-info__resource-list-item" >
          <a
            class="page-footer__hyperlink"
            target="_blank"
            rel="noopener noreferrer"
            href="https://auth0.com/docs/get-started"
          >
            How It Works
          </a>
        </div>
        <div class="page-footer-info__resource-list-item" >
          <a
            class="page-footer__hyperlink"
            target="_blank"
            rel="noopener noreferrer"
            href="https://auth0.com/blog/developers/"
          >
            Developer Blog
          </a>
        </div>
        <div class="page-footer-info__resource-list-item" >
          <a
            class="page-footer__hyperlink"
            target="_blank"
            rel="noopener noreferrer"
            href="https://auth0.com/contact-us"
          >
            Contact an Expert
          </a>
        </div>
      </div>
    </div>
    <div class="page-footer-grid__brand">
      <div class="page-footer-brand">
        <img
          class="page-footer-brand__logo"
          src="https://cdn.auth0.com/blog/hello-auth0/auth0-shield.svg"
          alt="Auth0"
          width="20"
          height="22.22"
        />
        <a
          class="page-footer__hyperlink"
          target="_blank"
          rel="noopener noreferrer"
          href="https://auth0.com/">
          Auth0 Inc
        </a>
      </div>
    </div>
  </div>
</footer>